// base
@import "partials/_variables.scss";
@import "partials/_mixin.scss";
@import "partials/onepage-scroll.scss";

// colors \\

$white: #ffffff;
$orange: #e66300;
$green: #83c000;
$black: #000000;
$grey: #333333;

// end of colors \\

// overides \\

.onepage-pagination {
  @include breakpoint(mobile) {
    display: none;
  }
  @include breakpoint(desktop) {
    display: block;
  }

  transform: translateY(-50%);

  li {
     &:nth-child(1) a:after {
        content: 'home';
      }
      &:nth-child(2) a:after {
        content: 'about';
      }
      &:nth-child(3) a:after {
        content: 'innovate';
      }
      &:nth-child(4) a:after {
        content: 'imagine';
      }
      &:nth-child(5) a:after {
        content: 'work';
      }
      &:nth-child(6) a:after {
        content: 'contact';
      }

    a {
      position: relative;

      &:before {
        background: $white;
        width: 8px;
        height: 8px;
        transition: background 1s ease-out;
      }

      &:after {
        position: absolute;
        color: $white;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 100;
        text-transform: uppercase;
        transition: all 1s ease-out;
        font-size: 13px;
      }
      &.active:before {
        border-color: $orange;
        border-width: 3px;
      }
      &.active:after {
        color: $orange;
        font-weight: 400;
      }
    }
  }
}

.mapboxgl-ctrl-top-right {
  display: none;
}

// end of overides \\

$scale: scale;
$tint: tint;
$moveUp: moveUp;
$fadeIn: fadeIn;

// // Add or Remove stops easily
$stops: (
  0%: scale(1.1),
  100%: scale(1.0)
);

// $stops2: (
//   0%: 0.5,
//   100%: 0
// );

$stops3: (
  0%: translateY(35%),
  100%: translateY(0)
);

// $stops4: (
//   0%: 0,
//   100%: 1
// );

// // Where action happens
// @mixin keyframe-generator($map, $name){
//   @keyframes #{$name} {
//     @each $key, $value in $map {  
//       #{$key} {
//         opacity: $value;  
//       }
//     }
//   }
// }

@mixin keyframe-generator2($map, $name){
  @keyframes #{$name} {
    @each $key, $value in $map {
      #{$key} {
        transform: $value;
      }
    }
  }
}

@include keyframe-generator2($stops, $scale);
// @include keyframe-generator($stops2, $tint);
@include keyframe-generator2($stops3, $moveUp);
// @include keyframe-generator($stops4, $fadeIn);

.scaleBackground {
  animation: scale 1s ease-out forwards;
}

.removeTint {
  // animation: tint 1s ease-out forwards;
  opacity: 0 !important;
}

.addTint {
  // animation: tint 1s reverse ease-out forwards;
  opacity: 0.5 !important;
}

.addFullTint {
  // animation: tint 1s reverse ease-out forwards;
  opacity: 1 !important;
}

.fadeIn {
  animation: moveUp 1s ease-out forwards;
}

@-ms-viewport{
  width: device-width;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.show {
  opacity: 1 !important;
  pointer-events: all;
}

.button {
  @include breakpoint(mobile) {
    width: 100px;
    height: 25px;
    line-height: 25px;
  }
  @include breakpoint(desktop) {
    width: 142px;
    height: 34px;
    line-height: 34px;
  }
  border: 3px solid $orange;
  border-radius: 4px;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  font-weight: 100;
}

.paginator.custom {
  @extend .onepage-pagination;

  @include breakpoint(mobile) {
    display: block;
  }
  transform: translateY(0) rotate(90deg) translateX(-50%);
  top: calc(100% - 150px);
  left: 50%;
  width: 10px;
  li:nth-child(odd) a:after, li:nth-child(even) a:after {
    content: '';
  }
}

.burger {

  $root: &;
  background: transparent;
  border: 0;
  cursor: pointer;
  flex-direction: column;
  font-size: 1.75em;
  height: 1.25rem;
  justify-content: space-around;
  margin-left: auto;
  outline: transparent;
  padding: 0;
  right: 20px;
  top: calc(72.5px - 0.625rem);
  position: fixed;
  transition: transform .25s;
  width: 25px;
  z-index: 3;

  @media screen and (min-width: 1000px) {
    display: none;
    opacity: 0;
    pointer-events: none;
  }

  &--sub-nav-open {
    #{$root}__piece {
      border-top: 2px solid palette(gray, black);
    }
  }

  &__piece {
    border-top: 2px solid $white;
    display: block;
    flex: 0 1 1px;
    position: absolute;
    right: 0;
    transform-origin: 50% 50%;
    transition: transform .25s, opacity .12s, border 1s cubic-bezier(.86, 0, .07, 1), width .25s;
    width: 100%;
  }

  span {
    top: 50%;

    &:first-child {
      top: 0;
    }

    &:last-child {
      top: 100%;
    }
  }

  &--side {
    margin-left: 1rem; 
    span {
      border-top: 2px solid palette(teal, base);

      &:nth-child(1) {
        width: 80%;
      }

      &:nth-child(2) {
        width: 60%;
      }

      &:nth-child(3) {
        width: 100%;
      }
    }
  }

  &--show-all {
    @media screen and (min-width: 320px) {
      display: inline-block;
      opacity: 1;
      pointer-events: auto;
    }
  }

  &--active {
    // Active burger
    $rotate-angle: 45;
    transform: translateX(-1.5rem);

    #{$root}__piece {
      border-top: 2px solid palette(gray, white);
    }

    span {
      opacity: 0;
      // transform: scale(.5);

      &:first-child {
        opacity: 1;
        // transform: rotate(45deg) translateY(.70rem) translateX(0);
        transform: rotate(45deg) translateY(0.675rem) translateX(0px);
      }

      &:last-child {
        opacity: 1;
        // transform: rotate(-45deg) translateY(-0.70rem) translateX(0);
        transform: rotate(-45deg) translateY(-0.9rem) translateX(3px);
      }
    }

    &#{$root}--side {
      #{$root}__piece {
        border-top: 2px solid palette(teal, base);
        width: 100% !important;
      }
    }
  }
}

#mainNav {
  width: calc(100%);
  float: left;
  margin-left: 0px;
  display: block;
  top: 125px;
  text-align: center;
  position: fixed;
  transition: right 0.5s cubic-bezier(0, 0.07, 0.12, 0.98);
  z-index: 2;
  background-color: $green;
}

@media only screen and (min-width: 100px) {
    #mainNav {
        right: -225px;
        opacity: 0;
    }
}

@media only screen and (min-width: 1000px) {
  #mainNav {
    display: none;
  }
}

#mainNav.nav_open {
  top: 0;
  opacity: 1;
  width: 225px;
  right:0;
  height: 100%;
}

#mainNav.nav_open a {
  display: block;
  margin: 7.5% 29px;
  height: 35px;
  text-decoration: none;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
}

#mainNav.nav_open a .icon,
#mainNav.nav_open .mobile_only .icon {
  position: absolute;
  left: 0
}

#mainNav a {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  margin: 0 2% 0 2%;
  position: relative;
  top: calc(50% - 10px);
  font-weight: 100;
  top: 120px;
}

.marker {
  @include breakpoint(mobile) {
    height: 250px;
    width: 200px;
  }
  // @include breakpoint(desktop) {
  //   width: 250px;
  //   height: 300px;
  // }
  font-family: 'Montserrat', sans-serif;
  background-color: $grey;
  color: $white;
  font-weight: 100;
  border: 3px solid $green;
  z-index: 2;

  p, h3, a {
    margin-left: 20px;
    font-size: 0.8rem;
    color: $white;
  }

  h3 {
    margin-top: 20px;
    font-weight: 200;
    font-size: 1.2rem;
  }

  a {
    margin: 0;
    text-decoration: none;
    &.green {
      color: $green;
      text-transform: uppercase;
      margin-left: 20px;
    }
    &:last-child {
      z-index: 10;
      position: absolute;
      padding-left: 4px;
    }
  }
}

.markerPoint {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 75px;
  bottom: -26px;
  background-color: $grey;
  transform: rotate(45deg);
  border-right: 3px solid $green;
  border-bottom: 3px solid $green;
}

html, body, #scrollerWrapper {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: $grey;
}

#headerShape {
  height: 100vh;
  position: fixed;
  z-index: 1;
  width: 100vh;
  border-radius: 50%;
  top: -88%;
  left: -34vh;
  background-color: $green;
  background-position: 50% 109%;
  background-image: url(../assets/images/logo.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  transform: translateY(0);
  transition: transform 0.5s ease-out;
  &.moveOffScreen {
    transform: translateY(-15%);
  }
}

#video {
  @include breakpoint(mobile) {
    height: 100%;
  }
  @include breakpoint(desktop) {
    height: fit-content;
  }
  position: absolute;
  top: 50%; 
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.greenText {
  color: $green;
}

.page {
  .heading.standAlone {
    @include breakpoint(mobile) {
      left: 29px;
      font-size: 1rem;
      top: 15%;
    }
    @include breakpoint(desktop) {
      top: 20%;
      left: 60px;
      font-size: 2rem;
    }
    text-transform: uppercase;
    font-weight: 200;
    color: $white;
    position: absolute;
    top: 20%;
    left: 60px;
    z-index: 3;
  }
  overflow: hidden;
  .textWrapper {
    position: absolute;
    @include breakpoint(mobile) {
      width: calc(100% - 58px);
      margin-left: 0px;
      text-align: center;
      transform: translateX(-50%) translateY(-50%);
      left: 50%;
      top: 50%;
      text-align: left;
    }
    @include breakpoint(desktop) {
      top: 20%;
      width: 40%;
      margin-left: 60px;
      left: 0;
      transform: translateX(0) translateY(0);
      text-align: left;
    }
    
    .heading {
      @include breakpoint(mobile) {
        font-size: 1rem;
      }
      @include breakpoint(desktop) {
        font-size: 2rem;
      }

      text-transform: uppercase;
      font-weight: 200;
      color: $white;
    }
    p {
      @include breakpoint(mobile) {
        font-size: 0.8rem;
      }
      @include breakpoint(desktop) {
        font-size: 1rem;
      }

      margin-top: 2rem; 
      font-weight: 200;
      color: $white;
      &.largeText {
        @include breakpoint(mobile) {
          font-size: 1rem;
        }
        @include breakpoint(desktop) {
          font-size: 1.15rem;
        }
      }
    }
    &.center {
      p {
        @include breakpoint(mobile) {
          font-size: 1rem;
        }
      }
      @include breakpoint(mobile) {
        text-align: left;
      }
      @include breakpoint(desktop) {
        text-align: center;
      }
      transform: translateX(-50%) translateY(-50%);
      left: 50%;
      top: 50%;
      margin-left: 0;
    }
  }
  .paginatorWrapper {
    position: relative;
    width: 100%;
  }
}

#section2 {
  .backgroundWrapper {
    transition: opacity 1s ease-out;
    opacity: 0;
    position: absolute;
  }
  #section2Background0 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url('../assets/images/aboutUs/1.01.jpg');
  }
  #section2Background1 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url('../assets/images/aboutUs/1.02.jpg');
  }
  #section2Background2 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url('../assets/images/aboutUs/1.03.jpg');
  }
}

#section3 {
  .backgroundWrapper {
    transition: opacity 1s ease-out;
    opacity: 0;
    position: absolute;
  }
  #section3Background0 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url('../assets/images/howWeInnovate/2.01.jpg');
  }
  #section3Background1 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url('../assets/images/howWeInnovate/2.02.jpg');
  }
  #section3Background2 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url('../assets/images/howWeInnovate/2.03.jpg');
  }
}

#section4 {
  p {
    @include breakpoint(mobile) {
      font-size: 1rem;
    }
    @include breakpoint(desktop) {
      font-size: 1.15rem;
    }
  }

  .paginator.custom {
    top: calc(100% - 185px);
  }

  .backgroundWrapper {
    transition: opacity 1s ease-out;
    opacity: 0;
    position: absolute;
  }
  #section4Background0 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url('../assets/images/imagineIf/3.01.jpg');
  }
  #section4Background1 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url('../assets/images/imagineIf/3.02.jpg');
  }
  #section4Background2 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url('../assets/images/imagineIf/3.03.jpg');
  }
  #section4Background3 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url('../assets/images/imagineIf/3.04.jpg');
  }
  #section4Background4 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url('../assets/images/imagineIf/3.05.jpg');
  }
  #section4Background5 {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ), url('../assets/images/imagineIf/3.06.jpg');
  }
}

#section5 {
  @include breakpoint(mobile) {
    flex-direction: column;
  }
  @include breakpoint(desktop) {
    flex-direction: row;
  }

  display: flex;

  .heading.standAlone {
    @include breakpoint(mobile) {
      display: none;
    }
    @include breakpoint(desktop) {
      display: block;
    }

    opacity: 0;
    transition: opacity 1s ease-out;
  }

  .subSection {
    cursor: pointer;
    @include breakpoint(mobile) {
      width: 100%;
      height: calc(30% - 15px);
    }
    @include breakpoint(desktop) {
      width: 33.333333333%;
      height: 100%;
    }

    &.first {
      @include breakpoint(mobile) {
        height: calc(40% - 15px);
      }
      @include breakpoint(desktop) {
        height: 100%;
      }
    }

    transition: width 0.75s ease-in-out, height 0.75s ease-in-out;
    position: relative;
    overflow: hidden;
    &.closed {
      @include breakpoint(mobile) {
        width: 100%;
        height: 20%;
      }
      @include breakpoint(desktop) {
        width: 20%;
        height: 100%;
      }
    }
    &.open {
      @include breakpoint(mobile) {
        width: 100%;
        height: calc(60% - 45px);
      }
      @include breakpoint(desktop) {
        width: 60%;
        height: 100%;
      }
    }

    .backgroundWrapper {
      width: 100%;
      background-position: center center;
      transform: scale(1.1);
    }
    .textWrapper {
      height: 100%;
      p, .heading, .button {
        opacity: 0;
        position: relative;
        top: calc(50% - 100px);
        transition: opacity 0.5s ease-out;
        &.fadeIn {
          opacity: 1;
        }
      }
      .button {
        @include breakpoint(mobile) {
          left: calc(50% - 50px);
          margin-top: 10px;
        }
        @include breakpoint(desktop) {
          left: calc(50% - 71px);
          margin-top: 30px;
        }
      } 
    }
  }

  #subSection1 {
    .backgroundWrapper {
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.2)
      ), url('../assets/images/workForUs/4.01.jpg');
    }
  }

  #subSection2 {
    .backgroundWrapper {
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.2)
      ), url('../assets/images/workForUs/4.02.jpg');
    }
  }

  #subSection3 {
    .backgroundWrapper {
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.2)
      ), url('../assets/images/workForUs/4.03.jpg');
    }
  }
}

.tint {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: $black;
  opacity: 0.4;
  pointer-events: none;
  transition: opacity 1s ease-out;
}

.backgroundWrapper {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  transition: background-image 0.5s ease-out;
}

#footer {
  @include breakpoint(mobile) {
    height: 45px;
  }
  @include breakpoint(desktop) {
    height: 80px;
  }

  background-color: $grey;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  transform: translateY(0);
  transition: transform 0.5s ease-out;
  &.moveOffScreen {
    @include breakpoint(mobile) {
      transform: translateY(45px);
    }
    @include breakpoint(desktop) {
      transform: translateY(80px);
    }
  }

  p {
    color: $white;
    margin: 0 0 0 60px;
    width: calc(50% - 60px);
    font-weight: lighter;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8rem;
  }
  .mediaWrapper {
    @include breakpoint(mobile) {
      right: 29px;
    }
    @include breakpoint(desktop) {
      right: 60px;
    }

    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    a {
      height: 25px;
      width: 25px;
      flex-direction: row;
      margin-right: 10px;
      &:after {
        content: '';
        height: 25px;
        width: 25px;
        position: fixed;
        background-repeat: no-repeat;
      }
    }

    .instagram:after {
      background-image: url('../assets/images/instagram.svg');
      background-size: cover;
    }
    .linkedIn:after {
      background-image: url('../assets/images/linkedIn.svg');
      height: 24px;
    }
    .twitter:after {
      background-size: 108%;
      background-position: center;
      background-image: url('../assets/images/twitter.svg');
    }
  }
}

.arrow {
  @include breakpoint(mobile) {
    height: 45px;
  }
  @include breakpoint(desktop) {
    height: 80px;
  }

  bottom: 0;
  z-index: 3;
  position: absolute;
  width: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../assets/images/downArrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
